/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Nunito:300,700');


body {
  font-family: 'Nunito', Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 95vh;
  color: $color-text;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $color-mild-blue;
  &:visited {
    color: $color-mild-blue;
  }
}

input {
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  border: 1px solid $color-gray-lightest;
  border-radius: 10px;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  background: none;
  &:focus {
    outline: none;
  }
}
