<div class="container">
  <h1>Chat room</h1>

  <p>
    Logged in as <strong>{{ user }}</strong> (<a href="#" (click)="logout()">Not you?</a>)
  </p>

  <div class="chat">
    <ul class="message-list" *ngIf="messages.length > 0; else empty">

      <div *ngFor="let message of messages" [ngSwitch]="message.action" class="item">

        <li *ngSwitchCase="Action.JOIN" class="notification">
          <strong>{{ message.userName }}</strong> joined.
        </li>

        <li *ngSwitchCase="Action.LEAVE" class="notification">
          <strong>{{ message.userName }}</strong> left.
        </li>

        <li *ngSwitchDefault class="message" [ngClass]="{'message-self': message.userName === user}">
          <strong class="message-user">
            {{ message.userName }}
          </strong>
          <span class="message-body">
            {{ message.body }}
          </span>
          <em class="message-time">
            <small>
              {{ message.date | amDateFormat:"HH:mm" }}
            </small>
          </em>
        </li>

      </div>
    </ul>
    <ng-template #empty>
      <div class="empty">
        <small>No messages here yet.</small>
      </div>
    </ng-template>

    <form class="message-entry" (ngSubmit)="sendMessage()" novalidate>
      <input type="text" name="message" placeholder="Write a message..." [(ngModel)]="message" autocomplete="off" autofocus="true">
    </form>
  </div>

</div>
