:root {
  /* Colors */
  --white: #f7f8f8;
  --color-primary: #390261;
  --color-accent: #e99e14;
  --color-surface: #dddddd;
  --color-background: #f7f8f8;
  --text-on-surface: #333333;
  --text-on-primary: #f7f8f8;
  --text-on-accent: #333333;
  --text-on-link: #f7f8f8;
  --link-on-primary: #f7f8f8;
  --link-on-surface: #0064c8;

  /* CSS toggles */
  --toggle-width: 64px;
  --toggle-height: 32px;
  --toggle-padding: 4px;
}

html[data-theme="dark"] {
  /* Colors */
  --color-background: #212a2e;
  --color-accent: #eeac1e;
  --color-surface: #2e3a3f;
  --text-on-surface: #f7f8f8;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  color: var(--text-on-surface);
  background-color: var(--color-background);
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

hr {
  border: 1px solid var(--color-surface);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.6em 0.8em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
}

input,
select,
textarea {
  border: 1px solid var(--color-surface);
}

.form-field {
  margin: 1em 0;
}

input {
  width: 100%;
}

input:disabled {
  color: #ccc;
}

label {
  filter: contrast(50%);
  margin-bottom: 0.5em;
}

button {
  background-color: var(--color-primary);
  color: var(--text-on-primary);
  outline: none;
  border: none;
  cursor: pointer;
}

button:disabled {
  filter: contrast(50%);
  cursor: not-allowed;
}

button:not(:disabled):active {
  background-color: var(--color-primary);
}

button:focus {
  border-color: #666;
}
